.buttons{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.btn-sm{
    background-color: rgb(239, 187, 33);
    color: white;
    font-size: 1.2rem;
    border: none;
    width: 5rem;
}
.btn-sm:hover{
    border: 2px solid rgb(237, 197, 20);
}
.button-container{
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    margin-bottom: 10px;
}
a{
    color: white;
    text-decoration: none;

}
a:hover{
    background-color: white;
    color: black;
    
}